.checkout {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.checkout__title {
   border-bottom: 1px solid lightgray;
}
.checkout__right {
   height: max-content;
   background-color: white;
   padding: 10px;
}
.checkout__left {
   background-color: white;
   height: max-content;
   padding: 10px;
}
.checkout__left > h2 {
   border-bottom: 1px solid lightgray;
   margin-top: 5px;
   padding-bottom: 10px;
}
